<h2>EAS Cats & STUFF</h2>

<table>
  <tr>
    <th>Name</th>
    <th>Early </th>
    <th>Normal</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @eas_types.each do |east| %>
  <tr>
    <td><%= east.name %> </td>
    <td><%= east.early %></td>
    <td><%= east.normal %></td>

<% end %>
</table>
